<div style="text-align:center">
  <h1>
    Welcome to Manga Comics Shop !
  </h1>
</div>

<div class="container">
  <div class="jumbotron">
    <h1>Vos mangas et comics préférés </h1>
    <p>Les meileurs mangas et comics se trouvent sur notre site au meilleur prix ! Pas Cher ! Pas Cher !
     Mais c'est pas gratuit !
      Pour l'achat de 5 mangas vous recevez en prime un paquet de bonbon au gout harissa !
    </p>
  </div>
</div>
