<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Stretched Link in Card</h2>
      <div class="card" style="width:300px">
        <img class="card-img-top" src="assets/berserk.jpg" alt="Card image" style="width:80%">
        <div class="card-body">
          <h4 class="card-title">Berserk</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary stretched-link">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h2>Stretched Link in Card</h2>
      <div class="card" style="width:300px">
        <img class="card-img-top" src="assets/jojo.jpg" alt="Card image" style="width:80%">
        <div class="card-body">
          <h4 class="card-title">JoJo's Bizarre Adventure Golden Wind</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary stretched-link">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h2>Stretched Link in Card</h2>
      <div class="card" style="width:300px">
        <img class="card-img-top" src="assets/diamond.jpg" alt="Card image" style="width:80%">
        <div class="card-body">
          <h4 class="card-title">JoJo's Bizarre Adventure Diamond Is Unbreakable</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary stretched-link">See Profile</a>
        </div>
      </div>
    </div>

  </div>
</div>
